<template>
  <div class="x-list-filter">
    <div
      v-for="option in filter"
      :key="`fo-${option.label}`"
      class="x-list-filter__checkbox-container"
    >
      <XCheckbox
        :model-value="option.value"
        :label="checkBoxLabel(option)"
        :disabled="option.disabled"
        @update:modelValue="handleChangeValue($event, option)"
      />
    </div>
  </div>
</template>

<script>
import XCheckbox from "@/components/shared/XCheckbox/index.vue";

export default {
  name: "x-list-filter",

  components: {
    XCheckbox,
  },

  props: {
    filter: {
      type: Array,
      required: true,
    },
  },

  methods: {
    handleChangeValue(value, option) {
      this.$emit("handle-change-value", {
        ...option,
        value,
      });
    },
    checkBoxLabel(option) {
      return option.count ? `${option.label} (${option.count})` : option.label;
    },
  },
};
</script>

<style lang="scss" scoped>
.x-list-filter {
  $this: &;

  &__checkbox-container {
    padding: 8px 16px;
  }
}
</style>
