<template>
  <header class="header container">
    <h1 class="header__title">Header</h1>
  </header>
</template>

<script>
export default {
  name: "x-header",
};
</script>

<style scoped lang="scss">
.header {
  max-width: 1200px;
}
</style>
