<template>
  <label :for="label" class="x-checkbox" :class="{ 'is-disabled': disabled }">
    <input
      :id="label"
      v-model="internalModelValue"
      :disabled="disabled"
      type="checkbox"
      class="x-checkbox__input"
    />
    <span class="x-checkbox__icon-wrapper">
      <div class="x-checkbox__icon x-icon">
        <CheckIcon />
      </div>
    </span>
    <div v-if="label" class="x-checkbox__label">
      {{ label }}
    </div>
  </label>
</template>

<script>
import CheckIcon from "@assets/icons/check.svg";

export default {
  name: "x-checkbox",

  components: {
    CheckIcon,
  },

  props: {
    label: {
      type: String,
      default: "",
    },

    modelValue: {
      type: Boolean,
    },

    disabled: {
      type: Boolean,
      default: false,
    },
  },

  emits: ["update:modelValue"],

  computed: {
    internalModelValue: {
      get() {
        return this.modelValue;
      },
      set(val) {
        this.$emit("update:modelValue", val);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.x-checkbox {
  $this: &;

  cursor: pointer;
  display: flex;

  &__input {
    display: none;
  }

  &__icon {
    display: none;
    fill: var(--white-color);
    height: 18px;
    left: -2px;
    position: absolute;
    top: -2px;
    transition: all 0.3s ease;
    width: 18px;
  }

  &__icon-wrapper {
    border-radius: 5px;
    border: solid 2px var(--neutral-3);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 18px;
    margin-right: 10px;
    position: relative;
    transition: all 0.3s ease;
    width: 18px;
  }

  &:hover {
    #{$this}__input:not(:disabled) + #{$this}__icon-wrapper {
      box-shadow: var(--shadow-4);
    }
  }

  &__input:checked + #{$this}__icon-wrapper {
    background-color: var(--link-fill-color);
    border: solid 2px var(--link-fill-color);

    #{$this}__icon {
      display: block;
    }
  }

  &__input:disabled + &__icon-wrapper {
    border: solid 2px var(--neutral-2);
    cursor: default;
  }

  &__input:checked:disabled + &__icon-wrapper {
    background-color: var(--secondary-light-1);
    border-color: var(--secondary-light-1);
  }

  &__label {
    transition: all 0.3s ease;
  }

  &.is-disabled {
    #{$this}__label {
      color: var(--neutral-2);
      cursor: default;
    }
  }
}
.x-icon > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
