<template>
  <div>
    <div class="phone-filters">
      <div class="phone-filters-controls">
        <div class="phone-filters-controls__wrapper">
          <div>
            <span>Brand</span>
          </div>
          <div class="phone-filters-controls__list">
            <XListFilter
              :filter="brandFilter"
              @handle-change-value="handleUpdateBrandFilter"
            />
          </div>
        </div>
        <div class="phone-filters-controls__wrapper">
          <div>
            <span>Operating system</span>
          </div>
          <div class="phone-filters-controls__list">
            <XListFilter
              :filter="OSFIlter"
              @handle-change-value="handleOSFilter"
            />
          </div>
        </div>
      </div>
      <div>SORTS</div>
    </div>
    <div class="selected-values">
      <div
        v-for="(value, index) in selectedFilters"
        :key="`selected-filter-${index}`"
        class="selected-values__item"
      >
        {{ value }}
      </div>
    </div>
  </div>
</template>

<script>
import XListFilter from "../../shared/XListFilter/index.vue";
export default {
  name: "phone-filters",

  components: {
    XListFilter,
  },

  props: {
    brandFilter: {
      type: Array,
      required: true,
    },
    OSFIlter: {
      type: Array,
      required: true,
    },
  },

  data() {
    return {
      brandFilterValue: [],
      OSFilterValue: [],
    };
  },

  computed: {
    selectedFilters() {
      return [...this.brandFilterValue, ...this.OSFilterValue];
    },
  },

  methods: {
    handleUpdateBrandFilter(filterEntity) {
      if (filterEntity.value) {
        this.brandFilterValue.push(filterEntity.label);
      } else {
        const index = this.brandFilterValue.indexOf(filterEntity.label);
        this.brandFilterValue.splice(index, 1);
      }
      this.$router.replace({
        name: "phones-view",
        query: {
          ...this.$route.query,
          brand: JSON.stringify(this.brandFilterValue),
        },
      });
    },
    handleOSFilter(filterEntity) {
      if (filterEntity.value) {
        this.OSFilterValue.push(filterEntity.label);
      } else {
        const index = this.OSFilterValue.indexOf(filterEntity.label);
        this.OSFilterValue.splice(index, 1);
      }
      this.$router.replace({
        name: "phones-view",
        query: {
          ...this.$route.query,
          OS: JSON.stringify(this.OSFilterValue),
        },
      });
    },
  },

  mounted() {},
};
</script>

<style lang="scss" scoped>
.phone-filters {
  display: flex;
  justify-content: space-between;
  background: var(--white-color);
  padding: 16px;
  border-radius: 8px;
  margin: 16px 0;
}

.phone-filters-controls {
  display: flex;

  &__wrapper {
    position: relative;
    margin-right: 20px;
    &:hover {
      .phone-filters-controls__list {
        opacity: 1;
        max-height: 500px;
      }
    }
  }

  &__list {
    width: max-content;
    background-color: var(--white-color);
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    transition: max-height 0.2s ease-in-out, opacity 0.1s ease-in-out;
    box-shadow: 0 4px 8px rgb(0 0 0 / 32%);
    opacity: 0;
    max-height: 0;
  }
}

.selected-values {
  display: flex;
  margin: 16px 0;
  flex-wrap: wrap;

  &__item {
    text-transform: capitalize;
    font-size: 14px;
    color: var(--neutral-1);
    padding: 4px;
    border: 1px solid var(--neutral-1);
    margin: 4px;
  }
}
</style>
