<template>
  <div class="phone-card">
    <div class="phone-card__image-container">
      <img
        class="phone-card__image"
        src="https://www.kpn.com/shop/cdn/products/_/product_11755934_main.webp"
      />
    </div>
    <div class="phone-card__content phone-card-content">
      <div class="phone-card-content__text">
        <span class="phone-card-content__manufacturer">{{
          phoneEntity.manufacturer
        }}</span>
        <h3 class="phone-card-content__model">{{ phoneEntity.model }}</h3>
      </div>
      <div class="phone-card-content__actions">
        <a href="#" class="phone-card-content__link">
          <span>Explore</span>
          <span class="phone-card-content__icon-wrapper">
            <Icon class="phone-card-content__icon" />
          </span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from "@assets/icons/icon-arrow-next.svg";

export default {
  name: "phone-card",

  props: {
    phoneEntity: {
      type: Object,
      default: () => {},
      required: true,
    },
  },

  components: {
    Icon,
  },
};
</script>

<style lang="scss" scoped>
.phone-card {
  align-items: end;
  position: relative;
  display: grid;
  background: var(--white-color);
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;

  &__image-container {
    display: flex;
    margin: 0 auto;
  }

  &__image {
    max-width: 100%;
    height: 240px;
  }
}
.phone-card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 8px;

  &__text {
    font-size: 16px;
  }

  &__model {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: var(--link-fill-color);
    font-size: 16px;
    display: flex;
  }

  &__icon-wrapper {
    width: 25px;
    border-radius: 50%;
    background-color: var(--link-fill-color);
    margin-left: 4px;
    display: block;
  }

  &__icon {
    width: 12px;
    color: var(--white-color);
    margin-left: 7px;
  }
}
</style>
