<template>
  <footer class="footer container">
    <h2 class="footer__title">Foooter</h2>
  </footer>
</template>

<script>
export default {
  name: "x-footer",
};
</script>

<style scoped lang="scss">
.header {
  max-width: 1200px;
}
</style>
