<template>
  <main class="container phone-views">
    <PhoneFilters
      :brandFilter="generateBrandFilterOptions()"
      :OSFIlter="generateOperatingSystemFilterOptions()"
    />
    <div class="phone-views__items">
      <PhoneCard
        v-for="phoneItem in filteredPhoneList"
        :key="phoneItem.id"
        :phoneEntity="phoneItem"
      />
    </div>
  </main>
</template>

<script>
import phonesJson from "@assets/phone_feed.json";
import PhoneCard from "@/components/PhonesView/PhoneCard/index.vue";
import PhoneFilters from "@/components/PhonesView/PhoneFilters/index.vue";

export default {
  name: "phones-view",

  components: {
    PhoneCard,
    PhoneFilters,
  },

  data() {
    return {
      phonesInfo: phonesJson,
      filteredPhoneList: [],
    };
  },

  watch: {
    $route: {
      immediate: true,
      async handler(currentRoute) {
        this.filterPhonesByQuery(currentRoute.query);
      },
    },
  },

  methods: {
    generateBrandFilterOptions() {
      return this.phonesInfo.products.reduce((acc, product) => {
        if (acc.find((el) => el.label === product.manufacturer)) {
          return acc;
        }
        acc.push({
          label: product.manufacturer,
          value: false,
          count: this.phonesInfo.products.reduce(
            (acc, cur) =>
              cur.manufacturer === product.manufacturer ? ++acc : acc,
            0
          ),
        });
        return acc;
      }, []);
    },
    generateOperatingSystemFilterOptions() {
      return this.phonesInfo.products.reduce((acc, product) => {
        if (acc.find((el) => el.label === product.operating_system)) {
          return acc;
        }
        acc.push({
          label: product.operating_system,
          value: false,
        });
        return acc;
      }, []);
    },

    initialFilterPhonesData() {
      this.filteredPhoneList = [
        ...this.phonesInfo.products.sort((a, b) => a.sort_order - b.sort_order),
      ];
    },

    filterPhonesByQuery(query) {
      let result = [];
      if (query.brand && JSON.parse(query.brand).length) {
        result = this.phonesInfo.products
          .filter((item) => JSON.parse(query.brand).includes(item.manufacturer))
          .sort((a, b) => a.sort_order - b.sort_order);
      }
      if (query.OS && JSON.parse(query.OS).length) {
        result = result
          .filter((item) =>
            JSON.parse(query.OS).includes(item.operating_system)
          )
          .sort((a, b) => a.sort_order - b.sort_order);
      }
      if (result.length) {
        this.filteredPhoneList = [...result];
      } else {
        this.initialFilterPhonesData();
      }
    },
  },

  created() {
    this.initialFilterPhonesData();
  },
};
</script>

<style lang="scss" scoped>
@import "@styles/index";
.phone-views {
  &__items {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;

    @include media(XM) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
</style>
