<template>
  <div id="app">
    <XHeader />
    <router-view />
    <XFooter />
  </div>
</template>

<script>
import XHeader from "@/components/shared/Header/index.vue";
import XFooter from "@/components/shared/Footer/index.vue";

export default {
  name: "app",

  components: {
    XHeader,
    XFooter,
  },
};
</script>

<style lang="scss">
@import "@styles/reset";
@import "@styles/sharedClasses";
@import "@styles/colors";
</style>
