// Color palette
:root {

  --text-color: #232323;
  --link-fill-color: #07c;
  --white-color: #fff;
  --neutral-3: #bfbfc5;
  --neutral-2: #dfdfe2;
  --neutral-1: #333;
  --secondary-light-1: #e6eef2;
  --shadow-4: 0 8px 16px 0 rgba(52, 47, 47, 0.2), 0 2px 4px 0 rgba(52, 47, 47, 0.1);
}
